<div class="center jumbotron">
  <h1>Rask : Todo Management Application base on GTD</h1>

  <h2>
    ProjectとTodoの登録，編集および削除ができます．
  </h2>
</div>

<% if logged_in? %>
  <div class="tables">
    <div class="table_c">
      <h3>
        Projects
      </h3>
      <table>
        <thead>
          <tr>
            <th>Project名</th>
            <th>内容</th>
          </tr>
        </thead>

        <tbody>
          <% Project.first(3).each do |project| %>
            <tr>
              <td>
                <%= project.name %>
              </td>
              <td>
                <%= project.description %>
              </td>
              <td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>

    <div class="table_c">
      <h3>
        Todo
      </h3>
      <table>
        <thead>
          <tr>
            <th>Todo名</th>
            <th>内容</th>
            <th>締切</th>
            <th>親プロジェクト</th>
          </tr>
        </thead>

        <tbody>
          <% Todo.first(3).each do |todo| %>
            <tr>
              <td>
                <%= todo.name %>
              </td>
              <td>
                <%= todo.description %>
              </td>
              <td>
                <%= todo.due_date %>
              </td>
              <td>
                <%= Project.find(todo.project_id).name %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
