<p id="notice"><%= notice %></p>
<h1>Todo詳細</h1>
<p>
  <strong>名前:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>内容:</strong>
  <%= @todo.description %>
</p>

<p>
  <strong>締切:</strong>
  <%= @todo.due_date %>
</p>

<p>
  <strong>親Project名:</strong>
  <%= Project.find(@todo.project_id).name %>
</p>

<p>
  <strong>User名:</strong>
  <%= User.find(@todo.user_id).name %>
</p>

<%= link_to "Edit", edit_todo_path(@todo) %> |
<%= link_to "Back", todos_path %>
